body,html{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



#mainNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    background-color: rgba(3, 56, 56, 0.434);
    backdrop-filter: blur(100px);
    color: white;
    margin-top: 1%;
    /* background-color:rgb(206, 34, 120); */
    /* background: linear-gradient(45deg, #fc909c,#aea3fc,#f7d1a9,rgb(244, 163, 250)); */
    background: linear-gradient(45deg,rgb(225, 94, 94), red,rgb(225, 94, 94));
    
}

#mainNav i,h1,p{
font-size: 1.5rem;
font-weight: 600;

}

/* body{
    background-image: url(images/nightSky.jpg);
    background-position: center;
    background-size: cover;
} */

#sideNav a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    
}

#sideNav{
    height: 100%;
    width: 26%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 20px;
    padding-left: 20px;
    padding-top: 40px;
    right: -35%;
    /* background-color:rgb(243, 173, 208); */
    color: white;
    /* background: linear-gradient(45deg, #fc909c,#aea3fc,#f7d1a9,rgb(244, 163, 250)); */
     background: linear-gradient(45deg,rgb(225, 94, 94), rgb(227, 45, 45),rgb(225, 94, 94));

}

#cross i{
font-size: 1.5rem;
font-weight: 600;
position: absolute;
top: 20px;
right: 20px;
}


/* Ice-cream Horizontal Scoller */
@keyframes slide{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
.kitkat{
  height:10vh;
  padding: 3% 0;
  animation: 16s slide infinite linear;
  display: inline-block;
    
}

.kitkat img{
    height: 40px;
    width: 40px;
    opacity: 0.3;
    
}
.kitkat span:hover img{
    scale: 4;
    opacity: 1;
   
}
.kitkat span{
    margin: 0 2%;
    font-size: 1.5rem;
    font-weight: 600;
}
.kitkat-scroll{
   
    overflow-x: hidden;
    white-space: nowrap;
    height: 20vh;
    background-color: white;
    margin: 5% 0;
    border-top: 10px solid red  ;
    border-bottom: 10px solid red  ;


}

/* .kitkat-scroll:before,
.kitkat-scroll:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.kitkat-scroll:before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.kitkat:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
} */

/* .kitkat-scroll:hover .kitkat {
    animation-play-state: paused;
  } */

#preEffect{
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
  background:url(images/opening.jpeg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
   object-fit: cover; 
   /* filter: contrast(2);  */
}

.bigBox {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.box {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    border: 1px solid rgb(225, 169, 169);
    
}
.box img{
    height: 200px;
    width: 200px;
}



/* First Impression */

#firstImpress {
   margin: 2%;
}



#firstImpressImg{
    background: url("images/flavor\ world\ -\ Made\ with\ Clipchamp.gif") center/cover no-repeat;
    height:80vh;
}

#firstImpressMessage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 2;
   
 }
 #firstImpressMessage h1{
    font-weight: 800;
    font-size: 2.2rem;
    background: url('images/front1.jpeg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
 }
 #firstImpressMessage p{
   font-family:cursive;
   color: rgb(220, 130, 130);
 }

 
 /* Images section */
 @font-face {
    font-family: ff;
    src: url(./panther_hunter.6a48738c.otf);
}


#page1{
    width: 100%;
    min-height: 100vh;
    /* background-color: brown; */
    position: relative;
}
#page1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#div{
    width: 40vw;
    height: 37vw;
    position: absolute;
    border-radius: 4vw;
    left: 55%;
    top: 30%;
    background-color: white;
    transition: top 0.5s ease;


}

#div img{
    width: 7vw;
    height: 7vw;
    position: absolute;
    left: 10%;
    top: 2vw;
}
#div h1{
    position: absolute;
    top: 10vw;
    font-size: 4.5vw;
    left: 10%;
    font-family: ff;
    line-height: 4.5vw;
    font-weight: 500;
    color: rgba(203, 9, 9, 0.799);
}
#div p {
    width: 34vw;
    position: absolute;
    left: 10%;
    top: 20vw;
    font-size: 1.5vw;
    color: rgba(255, 0, 0, 0.509);

}
#button{
    width: 11vw;
    height: 4.5vw;
    border-radius: 1vw;
    
    background-color: rgba(255, 0, 0, 0.509);

    position: absolute;
    left: 10%;
    top: 28vw;
}
button.explore{
    padding: 1vw 2vw;
    border: none;
    border-radius: 1vw;
    background-color: rgba(203, 9, 9, 0.881);
    color: #fff;
    font-size: 2vw;
    position: absolute;
    left: 7%;
    top: 27vw;

}
button:hover{
    margin-left: 3%;
    margin-top: 1vw;
    
}
#page2{
    width: 100%;
    height: 100vh;
    /* background-color: blueviolet; */
    position: relative;

}
#page2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#item-div{
    width: 40vw;
    height: 37vw;
    position: absolute;
    border-radius: 4vw;
    left: 5%;
    top: 20%;
    background-color: white;

}
#item-div img{
    width: 10vw;
    height: 10vw;
    position: absolute;
    left: 10%;
    top: 2vw;
}

#item-div h1{
    position: absolute;
    top: 11vw;
    font-size: 4.5vw;
    left: 10%;
    font-family: ff;
    line-height: 4.5vw;
    font-weight: 500;
    color: rgba(203, 9, 9, 0.799);

}
#item-div p{
    width: 34vw;
    position: absolute;
    left: 10%;
    top: 20.5vw;
    font-size: 1.5vw;
    color: rgba(255, 0, 0, 0.509);
    line-height: 1.5vw;

}
#button2{
    width: 11vw;
    height: 4.5vw;
    border-radius: 1vw;
    
    background-color: rgba(255, 0, 0, 0.509);

    position: absolute;
    left: 10%;
    top: 28vw;
}

/* Curtain Effect */
.page{
    min-height: 100vh;
    width: 100vw;
    background-color: #f4f3f0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    
    /* animation: colorchange 4s forwards; */
}
.nav{
    height: 12vh;
    width: 100vw;
    background-color:#f4f3f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
}

#left img{
    height:10vh;
    width: 10vh;
    border-radius: 50%;
    margin-left: 3vh;
}
#right{
    padding: 0vw 2vw;
}
#right i{
    font-size: 1.7vw;
}
.page1{
    position: relative;
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ellipse{ 
transform: rotate(25deg);
transform-origin: center;
height: 450px;
width: 950px;
border-radius: 50%;
background-color: #F00540;
/* animation: rotateAndResize 4s forwards 1s ; */
position: relative;
overflow: hidden;
}

.page1 #text{
    text-align: center;
}
#text h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 6vh;
    font-weight: 900;
    font-family:gilroy;
    color:#FFF5B0;
    white-space: nowrap;
    position:absolute;
    z-index: 99;
     opacity: 1;
}
#text p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.9vw;
    font-weight: 300;
    font-family:gilroy;
    color:#FFF;
    position:absolute;
    z-index: 99;
    margin-top: 4.5vw;
    text-align: center;
    opacity: 1;

}
.images{
   position: absolute;
   top:98%;
   left:40%;
   transform: translate(-30%,-50%);
   opacity:0;
   position: absolute;
   z-index: 99;
}


 .movingElement{
    object-fit: cover;
    opacity: 0;
    width:200px;
    height: auto;
    position:relative;
    z-index: 0;



 
}
#movingElementa{
    object-fit: cover;
    opacity: 0;
    width:200px;
    height: auto;
    position: absolute;
      /* display: none;  */

    
 
}
#movingElement1{
    object-fit: cover;
     opacity: 1;
    width:270px;
    height: auto;
    position: absolute;
    /* /* display: none; */
    
 
}

/* .horizontal-page{
     position: absolute;
    min-height:100vh;
    width: 100%;
    background-color: #090808;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    gap: 2vw;
    z-index: 1;
    transform: translate(var(--x, 0), var(--y, 0));
    transition: transform 0.1s ease;

} */
 .containers{
    position: absolute;
    z-index: 1;
 }
.video{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0; 
      opacity: 0;
}
.video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Collection */
.Collection-btn{
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    background: linear-gradient(rgb(240, 165, 165),rgb(228, 46, 46),red);
    color:white;
}

.Collection-col {
    height: 280px;
    margin-top: 40px;
    background-color: rgb(238, 5, 5);
  }
  
  .collection img {
    width: 100%;
    height: 260px;
  }
  
  .Collection-btn {
    margin-top: 4%;
  }

  .Collection-btn:hover{
    box-shadow: 10px -10px 5px 5px rgb(239, 130, 130);
  }

  #Collection-title{
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 3%;
    margin-top: 5%;
    color: red;
    
  }

#collection-item{
    margin-top: 2%;
    margin-bottom: 3%;
}